# MySQL
MYSQL_URL=jdbc:mysql://localhost:3306/mianshiya
MYSQL_USERNAME=root
MYSQL_PASSWORD=10011001

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=1
REDIS_TIMEOUT=5000
REDIS_PASSWORD=

# Elasticsearch
ELASTICSEARCH_URIS=http://localhost:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# HotKey / Nacos
HOTKEY_APP_NAME=mianshiya
HOTKEY_CAFFEINE_SIZE=10000
HOTKEY_PUSH_PERIOD=1000
HOTKEY_ETCD_SERVER=http://localhost:2379
NACOS_SERVER_ADDR=127.0.0.1:8848
NACOS_BOOTSTRAP_ENABLE=true
NACOS_DATA_ID=mianshiya
NACOS_GROUP=DEFAULT_GROUP
NACOS_TYPE=yaml
NACOS_AUTO_REFRESH=true

# COS
COS_HOST=https://yupi.icu
COS_ACCESS_KEY=xxx
COS_SECRET_KEY=xxx
COS_REGION=xxx
COS_BUCKET=xxx

# WeChat
WX_MP_TOKEN=xxx
WX_MP_AES_KEY=xxx
WX_MP_APP_ID=xxx
WX_MP_SECRET=xxx
WX_MP_REDIS_HOST=127.0.0.1
WX_MP_REDIS_PORT=6379
WX_OPEN_APP_ID=xxx
WX_OPEN_APP_SECRET=xxx

# AI
AI_API_KEY=

# Prod only
KNIFE4J_USERNAME=root
KNIFE4J_PASSWORD=123456
